.board {
    margin: 20px auto;
    border: 10px solid #a5a5a5;
}

.boardSize10 {
    width: 300px;
    height: 300px;    
}

.boardSize20 {
    width: 600px;
    height: 600px;     
}

.boardSize30 {
    width: 900px;
    height: 900px;     
}